@charset "UTF-8";
/* Body */
body {
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	background-color: #FFFFFF;
	margin: 0;
}
/* Container */
.container {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	background-color: #FFFFFF;
}
/* Header */
.header {
	width: 100%;
    height:5.75em;

    background-color: #001489;
	border-bottom: 1px solid #353635;
}


.header ul {
    list-style-type: none; /* Treu el subratllat*/
    margin: 0px; /*Treiem espais i marges */
    padding: 0px;
    background: #5b80b2;
    overflow: hidden;
    color: white;
}
.header ul li {
    float: left; /*Esto pose la lista una detras de otra */
    color: white;
}
.header ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px 16px;
    text-decoration: none;
    border-right: black; /*Creem un borde blau a la dreta*/
}
.header ul li a:visited {
    /*background: #6f94c6;*/
    overflow: hidden;
    color: white;
    list-style-type: none; /* Treu el subratllat*/
    display: block;
    text-align: center;
    padding: 16px 16px;
    text-decoration: none;
    border-right: black;
}

.header ul li a:hover {
    /*background-color: #001489;*/
    color: #4ac1f7;
    list-style-type: none; /* Treu el subratllat*/
}

.columna_esquerra{
	width: 30%;
	text-align: center;
	padding: 30px;
	float: left;
}

.column_dreta {
	width: 50%;
	text-align: left;
	padding-top: 50px;
    padding-left: 20px;
	/*float: left;*/
    /*alignment: left;*/
    overflow: hidden;
}

.column_dreta ul {
        display:table-row;
    }
    .column_dreta ul li
    {
        /*display: table-cell;*/
        height: 100px;
        /*list-style-type: none;*/
        margin: 10px;
        vertical-align: middle;
    }
    .column_dreta ul li a {
        display:table-cell;
        vertical-align: middle;
        height:100px;
        border: solid 1px black;
    }
    .column_dreta ul li.button a {
        height:50px;
        border: solid 1px black;
    }

/*.column {*/
/*	width: 50%;*/
/*	text-align: left;*/
/*	padding-top: 30px;*/
/*}*/
/*.intro .column h3 {*/
/*	color: #FFFFFF;*/
/*	text-align: center;*/
/*}*/
/*.intro .column p {*/
/*	color: #000000;*/
/*}*/

.logo {
	color: #fff;
	font-weight: bold;
	margin-left: auto;
	letter-spacing: 4px;
	margin-right: auto;
	text-align: center;
	padding-top: 15px;
	line-height: 2em;
	font-size: 22px;
}
.hero_header {
	color: #FFFFFF;
	text-align: center;
	margin: 0;
	letter-spacing: 4px;
}
/* About Section */
.text_column {
	width: 90%;
	text-align: left;
	font-weight: lighter;
	line-height: 25px;
	float: left;
	padding-left: 20px;
	padding-right: 20px;
	color: #A3A3A3;
}
#logo_img  img {
    width: 156px;
    height: 38px;
}

#titol_ini {
    text-align: center;
    color: black;
}

/* Barra navegacio ocidental
 */


#nav_professor{
    alignment: initial;
    background: #3A7734;
    overflow: hidden;
    color: white;
}
.nav_opcions{
    alignment: right;
}

.nav_opcions ul {
    list-style-type: none; /* Treu el subratllat*/
    margin: 0px; /*Treiem espais i marges */
    padding: 0px;
    background: #86989B;
    overflow: hidden;
    color: white;
}

.nav_opcions ul li {
    float: left; /*Esto pose la lista una detras de otra */
}

.nav_opcions ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px 16px;
    text-decoration: none;
    border-right: black; /*Creem un borde blau a la dreta*/
}

/*Al visitarlos */
.nav_opcions ul li a:visited {
    color: #001489;
    list-style-type: none; /* Treu el subratllat*/
}

/**/
.nav_opcions ul li a:hover {
    background-color: #001489;
    color: #4ac1f7;
    list-style-type: none; /* Treu el subratllat*/
}

.button-1 {
    background: #5E5DF0;
    border-radius: 999px;
    box-shadow: #5E5DF0 0 10px 20px -10px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    font-family: Inter,Helvetica,"Apple Color Emoji","Segoe UI Emoji",NotoColorEmoji,"Noto Color Emoji","Segoe UI Symbol","Android Emoji",EmojiSymbols,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans",sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    opacity: 1;
    outline: 0 solid transparent;
    padding: 3px 15px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: fit-content;
    word-break: break-word;
    border: 0;
}
.button-2{
    border: 0; /* Cancelar borde del botón */
    width: 150px; /* Establecer la longitud y el ancho apropiados del botón */
    height: 30px;
    margin-top: 18px; /* Establezca el ancho apropiado del marco exterior superior y aumente la distancia desde el cuadro de contraseña superior */
    font-size: 18px; /* Modificar el tamaño del texto del botón */
    color: white; /* Modificar el color del texto en el botón */
    border-radius: 25px; /* Establecer los bordes izquierdo y derecho del botón en arcos */
    background-image: linear-gradient(to right, #00dbde 0%, #fc00ff 100%); /* Agrega un colo*/
}
#login-box {
    border: 1px solid blue;
    width: 30%;
    text-align: center;
    margin: 5% auto 0;
    background: #00000080;
    padding: 10px 50px;
}

#login-box h1 {
    color: white;
}

#login-box .form .item input {
    width: 200px; /* Establecer el ancho apropiado */
    border: 0; /* Primero cancele el borde, para que pueda modificar el ancho del borde inferior debajo */
    border-bottom: 5px solid white; /* Modificar el límite inferior para mostrar el efecto de línea horizontal */
    font-size: 18px; /* Aumentar el tamaño de fuente de forma adecuada */
    background: #ffffff00; /* Establecer el cuadro de entrada en transparente */
    color: white; /* El color del texto anterior se establece en blanco, pero el color del marcador de posición debe establecerse por separado */
    padding: 5px 10px; /* Para que el contenido del marcador de posición no se muestre en la cuadrícula superior, aumente el borde interno */
    appearance:auto;
}
#login-box .form .item i {
    color: white;
    font-size: 18px;
}
.logout
{
    z-index: 5;
    right: 10px;
    position: absolute;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
}

#notfound {
  position: relative;
  height: 100vh;
}

#notfound .notfound {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.notfound {
  max-width: 520px;
  width: 100%;
  line-height: 1.4;
  text-align: center;
}

.notfound .notfound-404 {
  position: relative;
  height: 200px;
  margin: 0px auto 20px;
  z-index: -1;
}

.notfound .notfound-404 h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 236px;
  font-weight: 200;
  margin: 0px;
  color: #211b19;
  text-transform: uppercase;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.notfound .notfound-404 h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 28px;
  font-weight: 400;
  text-transform: uppercase;
  color: #211b19;
  background: #fff;
  padding: 10px 5px;
  margin: auto;
  display: inline-block;
  position: absolute;
  bottom: 0px;
  left: 0;
  right: 0;
}

.notfound a {
  font-family: 'Montserrat', sans-serif;
  display: inline-block;
  font-weight: 700;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  padding: 13px 23px;
  background: #ff6300;
  font-size: 18px;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

.notfound a:hover {
  color: #ff6300;
  background: #211b19;
}

@media only screen and (max-width: 767px) {
  .notfound .notfound-404 h1 {
    font-size: 148px;
  }
}

@media only screen and (max-width: 480px) {
  .notfound .notfound-404 {
    height: 148px;
    margin: 0px auto 10px;
  }
  .notfound .notfound-404 h1 {
    font-size: 86px;
  }
  .notfound .notfound-404 h2 {
    font-size: 16px;
  }
  .notfound a {
    padding: 7px 15px;
    font-size: 14px;
  }
}

/*Slider*/
.slider{
    width: 95%;
    margin: auto;
    overflow: hidden;
}

.slider ul{
    display: flex;
    padding: 0;
    width: 400%;

    animation: cambio 20s infinite alternate;
}
.slider li{
    width: 100%;
    list-style: none;
}
.slider img{
    width: 100%;
}
@keyframes cambio {
    0% {margin-left: 0;}
    0% {margin-left: 0;}

    25% {margin-left: -100%;}
    45% {margin-left: -100%;}

    50% {margin-left: -200%;}
    70% {margin-left: -200%;}

    75% {margin-left: -300%;}
    100% {margin-left: -300%;}
}

