{% extends 'layout.html' %}
{% block navegacio1 %}

<ul>
    <li><a href="{{ url_for('triar_examens')}}">Enviar Examens</a></li>
    <li><a href="afegir_examen">Veure Blocks</a></li>
    <li><a href="correccio">Enviar Correcció Examens</a></li>
</ul>

{% endblock %}
{% block content %}
<div class="slider">
  <ul>
        <li><img src="../static/img/uni0.jpg"/></li>
      <li><img src="../static/img/uni1.jpg"/></li>
        <li><img src="../static/img/uni2.jpg"/></li>
        <li><img src="../static/img/uni3.jpg"/></li>
<!--      <li><img src="../static/img/uni4.jpg"/></li>-->
  </ul>
</div>
{% endblock %}


