{% extends 'layout.html' %}
{% block navegacio1 %}
<ul>
    <li><a href="{{ url_for('examens_alumne') }}">Veure Examens</a></li>
    <li><a href="afegir_examen">Veure Examens</a></li>
    <li><a href="correccio">Enviar Correcció Examens</a></li>
</ul>
{% endblock %}
{% block content %}
<section class="intro">
    <div class="columna_esquerra">
        <p>Aquest son els teus examens </p>
    </div>
    <div class="column_dreta">
        <b><p>Tria un examen per veure-ho</p></b>
        <form action="{{ url_for('enviar_examen') }}" autocomplete="off" enctype="multipart/form-data" method="POST">
            <select id="examens" name="seleccionar_examen">
                {% for id, nomProfessor, cognom, data_inici, data_fi in llista %}
                {
                <option value={{id}}><p><b>Professor</b> :{{nom}} {{cognom}} <b>Data Inici:</b> {{data_inici}}
                    <b>Data Final:</b> {{data_fi}}</p></option>
                {% endfor %}
            </select>
            <p></p>
            <input class="button-1" type="submit" value="Veure-ho">
        </form>
    </div>
</section>
{% endblock %}