{% extends 'layout.html' %}
{% block navegacio1 %}
<ul>
         <li><a href="{{ url_for('triar_examens')}}">Enviar Resposta</a></li>
         <li><a href="{{ url_for('veure_cadena_usuari')}}">Els meus blocs</a></li>
</ul>
{% endblock %}

{% block navegacio2 %}
{% endblock %}
{% block content %}
<style>
    .centrado {
        text-align: center;
        border: 0px dotted #000;
        padding: 8px;
    }
</style>
    <div class="centrado">
        <p>D'aquest examen </p>
                <embed height="300px" src={{fitxer_examen}} type="application/pdf" width="100%"/>
    </div>
    <div class="centrado">
         <p>Aquesta es la resposta que has pujat  </p>
                <embed height="300px" src={{fitxer_resposta}} type="application/pdf" width="100%"/>
    </div>


{% endblock %}