{% extends 'layout.html' %}
{% block navegacio1 %}
     <ul>
        <li><a href="{{ url_for('seleccionar_alumnes') }}">Enviar Examens</a></li>
         <li><a href="{{ url_for('triar_resposta')}}">Evaluar Examens</a></li>
         <li><a href="{{ url_for('triar_blocs')}}">Els meus blocs</a></li>
    </ul>
{% endblock %}
{% block content %}
 <section class="intro">
    <div class="columna_esquerra">
     <p>Ja has enviat els examens als alumnes</p>
    </div>
   <div class="column_dreta">
    <p>Pots Veure els blocs al teu apartat</p>
   </div>
  </section>
{% endblock %}
