{% extends 'layout.html' %}
{% block navegacio1 %}
<ul>
    <li><a href="{{ url_for('triar_examens')}}">Enviar Examens</a></li>
    <li><a href="afegir_examen">Veure Blocks</a></li>
    <li><a href="correccio">Enviar Correcció Examens</a></li>
</ul>
{% endblock %}

{% block navegacio2 %}
<!--<div class="nav_opcions">-->
<!--    <ul>-->
<!--        {% if missatge == "Pots triar agafar un altre resposta o entregar aquesta : " %}-->
<!--        <li><a href="{{ url_for('pujar_pdf')}}">Agafar un altre</a></li>-->
<!--        <li><a href="{{ url_for('entregar_resposta')}}">Entregar</a></li>-->
<!--        {% elif missatge == "L'hora limit per entregar l'examen es : " %}-->
<!--        <li><a href="{{ url_for('pujar_pdf')}}">Puja Resposta</a></li>-->
<!--        {% else %}-->
<!--        <li><a href="{{ url_for('pujar_pdf')}}">Respota Incorrecte "{{missatge}}"</a></li>-->
<!--        {% endif %}-->
<!--    </ul>-->
<!--</div>-->
{% endblock %}
{% block content %}
<style>
    .centrado {
        text-align: center;
        border: 0px dotted #000;
        padding: 8px;
    }
</style>
<!--<p class="centrado">{{missatge}}{{hora}}</p>-->
    <div class="">
        <p>D'aquest examen </p>
                <embed height="300px" src={{fitxer_resposta}} type="application/pdf" width="100%"/>
    </div>
    <div class="">
         <p>Aquesta es la resposta que has pujat  </p>
                <embed height="300px" src={{fitxer_examen}} type="application/pdf" width="100%"/>
    </div>


{% endblock %}