{% extends 'layout.html' %}
{% block navegacio1 %}
     <ul>
    <li><a href="seleccionar alumnes">Enviar Examens</a></li>
    <li><a href="afegir_examen">Veure Examens</a></li>
    <li><a href="correccio">Enviar Correcció Examens</a></li>
    </ul>
{% endblock %}
{% block content %}
 <section class="intro">
    <div class="columna_esquerra">
     <p>Ja has enviat els examens als alumnes</p>
    </div>
   <div class="column_dreta">
    <p>Pots Veure els blocs al teu apartat</p>
   </div>
  </section>
{% endblock %}
