<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge, Chrome = 1">
    <!-- Custom Css -->
    <link href="https://fonts.googleapis.com/css?family=Faster+One" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="{{url_for('static',filename='css/main.css')}}">
    <title>Pagina Inicial</title>
</head>
<body>
<header class="header">
        <div >
             <a href="http://www.udg.edu/" title="www.udg.edu">
        <img img="logo_img" src="../static/img/logo_udg_inv.png" >
        </a>
            <ul>
        <li><a href="/BlockWeb/static">Inici</a></li>
        <li><a href="professor">Professors</a></li>
        <li><a href="alumne">Alumnes</a></li>
    </ul>
        </div>

</header>
<!-- Aqui posarem el codi de la pagina -->
{% block navegacio %}
{% endblock %}
{% block content %}
{% endblock %}
</body>
</html>