{% extends "layout.html" %}

{% block content %}
<form action="#" method="POST">
    <div id="login-box">
        <h1>Benvingut a BlockchainUniversity</h1>
          <h2>Autenticació d'usuaris</h2>

        <div class="form">
            <div class="item">
                <i class="fa fa-user-circle" aria-hidden="true"></i>
                <i class="fa fa-key" aria-hidden="true"></i>
                <input type="text" placeholder="username" name="usuari">
            </div>

            <div class="item">
                <i class="fa fa-user-circle" aria-hidden="true"></i>
                <i class="fa fa-key" aria-hidden="true"></i>
                <input type="password" placeholder="password" name="password">
            </div>
        </div>

        <button class="button-2">Login</button>
    </div>

</form>
{% endblock %}