{% extends 'layout.html' %}
{% block navegacio1 %}
     <ul>
        <li><a href="{{ url_for('seleccionar_alumnes') }}">Enviar Examens</a></li>
         <li><a href="{{ url_for('triar_resposta')}}">Evaluar Examens</a></li>
         <li><a href="{{ url_for('veure_cadena_usuari')}}">Els meus blocs</a></li>
    </ul>
{% endblock %}
{% block content %}
<div class="container">
  <!-- Header -->
<div class="slider">
  <ul>
        <li><img src="../static/img/uni0.jpg"/><p>Benvingut Professor</p></li>
      <li><img src="../static/img/uni4.jpg"/></li>
        <li><img src="../static/img/uni2.jpg"/></li>
        <li><img src="../static/img/uni3.jpg"/></li>
  </ul>
</div>
{% endblock %}

