{% extends 'layout.html' %}
{% block navegacio1 %}
     <ul>
        <li><a href="{{ url_for('seleccionar_alumnes') }}">Enviar Examens</a></li>
        <li><a href="professor">Veure Examens</a></li>
        <li><a href="alumne">Enviar Correcció Examens</a></li>
    </ul>
{% endblock %}
{% block content %}
<div class="container">
  <!-- Header -->
<section class="intro">
    <div class="column">
     <p>Benvingut a Blockchain Professor</p>
    </div>
   <div class="column">
       <ul>
           <p>Tria l'opció que vulguis</p>
       </ul>
      </div>
  </section>
</div>
{% endblock %}

<!-- Aqui posarem el codi de la pagina -->
