{% extends 'layout.html' %}
{% block navegacio1 %}
     <ul>
        <li><a href="seleccionar alumnes">Enviar Examens</a></li>
        <li><a href="afegir_examen">Veure Examens</a></li>
        <li><a href="correccio">Enviar Correcció Examens</a></li>
    </ul>
{% endblock %}
{% block content %}
 <section class="intro">
    <div class="columna_esquerra">
     <p>Tria els alumne als que vols enviar l'examen </p>
    </div>
   <div class="column_dreta">
        <form action="{{ url_for('enviar_examen') }}" method="POST" autocomplete="off" enctype="multipart/form-data">
          <p>Tria l'hora limit de entrega</p>
            <input type="datetime-local"
       name="data_entrega" value={{data_avui}}
       min={{data_avui}} max="2030-06-14T00:00">
          <p>Tria el pdf</p>
            <input name="path_fitxer" type="file" value="" />
<!--            <embed src="files/Brochure.pdf" type="application/pdf" width="100%" height="600px" />-->
            <p>Tria els alumnes </p>
            <select  name="select_usuaris" id="examens" multiple >
                   {% for id, nif, nom, cognom in llista_1 %}
                   {<option value={{id}}>{{id}} {{nom}} {{cognom}}</option>
                   {% endfor %}
            </select>
            <p></p>
          <input type="submit" value="enviar" class="button-1">
        </form>
   </div>
  </section>
{% endblock %}
