{% extends 'layout.html' %}
{% block navegacio1 %}
     <ul>
        <li><a href="seleccionar alumnes">Enviar Examens</a></li>
        <li><a href="afegir_examen">Veure Examens</a></li>
        <li><a href="correccio">Enviar Correcció Examens</a></li>
    </ul>
{% endblock %}
{% block content %}
 <section class="intro">
    <div class="columna_esquerra">
     <p>Tria els alumne als que vols enviar l'examen </p>
    </div>
   <div class="column_dreta">
        <form action="/enviar_examens" method="POST">
          <p>Tria el examen</p>
          <select  name="select_examen" id="enviar">
                   {% for id in llista_2 %}
                   {<option value={{id}}>{{id}}</option>
                   {% endfor %}
            </select>
            <p>Tria els alumnes </p>
            <select  name="select_usuaris" id="examens" multiple >
                   {% for id, nif, nom, cognom in llista_1 %}
                   {<option value={{id}}>{{id}} {{nom}} {{cognom}}</option>
                   {% endfor %}
            </select>
            <p></p>
          <input type="submit" value="enviar" class="button-1">
        </form>
   </div>
  </section>
{% endblock %}
