{% extends 'layout.html' %}
{% block navegacio1 %}
<ul>
    <li><a href="{{ url_for('triar_examens')}}">Enviar Resposta</a></li>
    <li><a href="afegir_examen">Veure Blocks</a></li>
    <li><a href="correccio">Enviar Correcció Examens</a></li>
</ul>
{% endblock %}
{% block content %}
<section class="intro">
    <div class="columna_esquerra">
        <p>Aquest son els teus examens </p>
    </div>
    <div class="column_dreta">
        <b><p>Tria un examen per veure-ho</p></b>
        <form action="{{ url_for('veure_examen') }}" autocomplete="off" enctype="multipart/form-data" method="POST">
            <select id="examens" name="examen">
                {% for id_examen, nomProfessor, cognom, data_inici, data_fi in llista %}
                <option value={{id_examen}}>{{id_examen}} Professor:{{nom}} {{cognom}} Data Inici:{{data_inici}} Data
                    Final:{{data_fi}}
                </option>
                {% endfor %}
            </select>
            <p></p>
            <input class="button-1" type="submit" value="Veure-ho">
        </form>
    </div>
</section>
{% endblock %}