{% extends 'layout.html' %}
{% block navegacio1 %}
<ul>
    <li><a href="{{ url_for('triar_examens')}}">Enviar Examens</a></li>
    <li><a href="afegir_examen">Veure Examens</a></li>
    <li><a href="correccio">Enviar Correcció Examens</a></li>
</ul>
{% endblock %}
{% block content %}
<section class="intro">
    <div class="columna_esquerra">
        <p>Aquest son els teus examens </p>
    </div>
    <div class="column_dreta">
        <b><p>Tria un examen per veure-ho</p></b>
        {% if tipus == 'professor' %}
               <form action="{{ url_for('veure_examen_professor') }}" autocomplete="off" enctype="multipart/form-data"
                     method="POST">
        {% elif tipus == 'estudiant' %}
                          <form action="{{ url_for('veure_examen') }}" autocomplete="off"
                                enctype="multipart/form-data" method="POST">
        {% endif %}

            <select id="examens" name="examen">
                {% for id_examen, assignatura, data_inici, data_fi in llista %}
                <option value={{id_examen}}>{{id_examen}} Assignatura:{{assignatura}} Data Inici:{{data_inici}} Data
                    Final:{{data_fi}}</option>
                {% endfor %}
            </select>
            <p></p>
            <input class="button-1" type="submit" value="Veure-ho">
        </form>
    </div>
</section>
{% endblock %}