{% extends 'layout.html' %}
{% block navegacio1 %}
<ul>
    <li><a href="examens_alumne">Enviar Examens</a></li>
    <li><a href="afegir_examen">Veure Examens</a></li>
    <li><a href="correccio">Enviar Correcció Examens</a></li>
</ul>
{% endblock %}
{% block content %}
<style>
		.centrado{text-align:center;border:0px dotted #000; padding:8px;}
	</style>
<p class="centrado">L'hora limit per entregar l'examen es : {{hora}}</p>
<embed src="\static\fitxers\veure_examen.pdf" type="application/pdf" width="100%" height="600px" />

{% endblock %}
