{% extends 'layout.html' %}
{% block navegacio1 %}
{% if missatge =="Aquesta es la cadena de BlockchainUniversity : " %}
{% if session  %}
     <ul>
{% if session['tipus']=="professor" %}
        <li><a href="{{ url_for('seleccionar_alumnes') }}">Enviar Examens</a></li>
         <li><a href="{{ url_for('triar_resposta')}}">Evaluar Examens</a></li>
         <li><a href="{{ url_for('triar_blocs')}}">Els meus blocs</a></li>
{% else %}
         <li><a href="{{ url_for('triar_examens')}}">Enviar Resposta</a></li>
         <li><a href="{{ url_for('triar_blocs')}}">Els meus blocs</a></li>
 </ul>
{% endif %}
{% else %}
         <li><a href="{{ url_for('login')}}">Entrar com a usuari</a></li>
{% endif %}
{% else %}
<ul>
         <li><a href="{{ url_for('triar_examens')}}">Enviar Resposta</a></li>
         <li><a href="{{ url_for('triar_blocs')}}">Els meus blocs</a></li>
</ul>
{% endif %}
{% endblock %}

{% block navegacio2 %}
<div class="nav_opcions">
    <ul>{% if missatge =="Aquesta es la cadena de BlockchainUniversity : " %}
        {% else %}
            {% if missatge == "Pots triar agafar un altre resposta o entregar aquesta : " %}
            <li><a href="{{ url_for('pujar_pdf')}}">Agafar un altre</a></li>
            <li><a href="{{ url_for('entregar_resposta')}}">Entregar</a></li>
            {% elif missatge == "L'hora limit per entregar l'examen es : " %}
            <li><a href="{{ url_for('pujar_pdf')}}">Puja Resposta</a></li>
            {% else %}
            <li><a href="{{ url_for('pujar_pdf')}}">Respota Incorrecte "{{missatge}}"</a></li>
            <input name="prova" value="{{fitxer}}">
            {% endif %}
         {% endif %}
    </ul>
</div>
{% endblock %}
{% block content %}
<style>
    .centrado {
        text-align: center;
        border: 0px dotted #000;
        padding: 8px;
    }
</style>
<p class="centrado">{{missatge}}{{hora}}</p>
<embed height="600px" src={{fitxer}} type="application/pdf" width="100%"/>

{% endblock %}


