{% extends 'layout.html' %}
{% block navegacio1 %}
     <ul>
{% if session['tipus']=="professor" %}
        <li><a href="{{ url_for('seleccionar_alumnes') }}">Enviar Examens</a></li>
         <li><a href="{{ url_for('triar_resposta')}}">Evaluar Examens</a></li>
         <li><a href="{{ url_for('triar_blocs')}}">Els meus blocs</a></li>
{% else %}
         <li><a href="{{ url_for('triar_examens')}}">Enviar Resposta</a></li>
         <li><a href="{{ url_for('triar_blocs')}}">Els meus blocs</a></li>
{% endif %}
 </ul>
{% endblock %}
{% block navegacio2 %}
<div class="nav_opcions">
    <ul>
            <li><a href="{{ url_for('triar_blocs')}}">Veure informació bloc</a></li>
            <li><a href="{{ url_for('veure_cadena_usuari')}}">Veure els meus blocs de la cadena</a></li>
    </ul>
</div>
{% endblock %}
{% block content %}
<style>
    .centrado {
        text-align: center;
        border: 0px dotted #000;
        padding: 8px;
    }
</style>
<p class="centrado">{{missatge}}</p>
<embed height="600px" src={{fitxer}} type="application/pdf" width="100%"/>
{% endblock %}